h1{text-align: center;}

header{background-color: white;}

main{background-color: white;}
 
footer{background-color: gray;}

.logotipo{width: auto;}

.imagem1{width:auto;}

.imagem2{width: auto;}
     

